.category{
  width: 99%;
  height: 95%;
  margin-left: 20px;
}
.items{
  float: left;
  width: 18.5%;
  margin: 15px;
  margin-left: 10px;
}
h3{
padding-top: 0px;
margin-top: 0px;
font-size: larger;
font-weight: bolder;
}
#upload{
border: 1px solid black;
margin-top: 30px;
width: 200px;
height: 250px;}