#tshirt-div img {
    margin-top: 50px;
    margin-left: 20px;
    display: block;
    background-color: var(--color);
  }
  .drawing-area {
    margin-top: 80px;
    margin-left: 25px;
    position: absolute;
    top: 60px;
    left: 121px;
    z-index: 10;
    width: 170px;
    height: 260px;
    border: 1px solid black;
  }
  .canvas-container {
    width: 120px;
    height: 400px;
    position: relative;
    user-select: none;
  }
  #canvas {
    position: absolute;
    width: 200px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
  }
  #tshirt-div {
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;
  }