body{
    background-color: rgb(135, 185, 234);
  }
  a:link, a:visited {
    margin-left: 20px;
    color: rgb(59, 88, 212);
  }
  a:hover, a:active {
    color: rgb(30, 207, 47);
  }
.image{
  margin-top: 0px;
  margin-left: 35px;
  float: left;
  background-color: rgb(135, 185, 234);
  }
  
  .registerform{
    background-color: white;
    margin-top: 40px;
    height: 600px;
    margin-right: 180px;
    width: 450px;
    float: right;
    text-align: center;
    position: relative;
    top: 30px;
    align-content: center;
    filter: contrast(2px);
    border: 2px solid rgb(59, 88, 212);
  }

.input{
    font-size: large;
    width: 350px;
    height: 30px;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  .button{
    width: 350px;
    height: 1cm;
    font-weight: bolder;
    font-size: large;
    background-color: rgb(59, 88, 212);
    border-radius: 37px;
    color: #ffffff;
  }
  .button:hover{
    background-color: rgb(30, 207, 47);
    color: rgb(59, 88, 212);
  }

  